<div head></div>
<div navi></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-signin">
                <h3>Login</h3>
                <hr>

                <label for="inputEmail" class="sr-only">Username</label>
                <input ng-model="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" type="text">
                <br>

                <label for="inputPassword" class="sr-only">Password</label>
                <input ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
                <br>

                <button ng-click="submitLoginForm()" class="btn btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
