<div head></div>
<div navi></div>

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <h3>Create New Survey</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <h3>Actions</h3>
            <hr>

            <div class="row">
                <div class="col-md-9 ">
                    <input ng-model="surveyName" class="form-control" placeholder="Name your survey" type="text">
                </div>
                <div class="col-md-3 ">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-9 ">
                    <input ng-model="textLabel" class="form-control" placeholder="Name your text box" type="text">
                </div>
                <div class="col-md-3 ">
                    <button ng-click="addInputBox('text')" class="btn btn-default">Add Text Box</button>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-9">
                    <input ng-model="textAreaLabel" class="form-control" placeholder="Name your big text area" type="text">
                </div>
                <div class="col-md-3 ">
                    <button ng-click="addInputBox('textarea')" class="btn btn-default">Add Text Area</button>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-9">
                    <input ng-model="radioButtonLabel" class="form-control" placeholder="Name your radio button" type="text">
                </div>
                <div class="col-md-3 ">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-9">
                    <input ng-model="radioOptions" class="form-control" placeholder="Add options (comma seperated)" type="text">
                </div>
                <div class="col-md-3 ">
                    <button ng-click="addInputBox('radio')" class="btn btn-default">Add Radio Buttons</button>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-9">
                    <input ng-model="checkboxLabel" class="form-control" placeholder="Name your checkboxes" type="text">
                </div>
                <div class="col-md-3 ">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-9">
                    <input ng-model="checkboxOptions" class="form-control" placeholder="Add options (comma seperated)" type="text">
                </div>
                <div class="col-md-3 ">
                    <button ng-click="addInputBox('checkbox')" class="btn btn-default">Add Checkboxes</button>
                </div>
            </div>
            <hr>
            <br>

            <div class="row">
                <div class="col-md-9">
                    <input ng-model="selectLabel" class="form-control" placeholder="Name your select box" type="text">
                </div>
                <div class="col-md-3 ">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-9">
                    <input ng-model="selectOptions" class="form-control" placeholder="Add options (comma seperated)" type="text">
                </div>
                <div class="col-md-3 ">
                    <button ng-click="addInputBox('select')" class="btn btn-default">Add Select Boxes</button>
                </div>
            </div>
            <hr>
            <br>


        </div>


        <div class="col-md-6 ">
            <h3>Survey Preview</h3>
            <hr>
                <h4 ng-if="surveyName">Survey Title: {{surveyName}}</h4>
                <p ng-if="surveyElements == undefined">Add some survey pieces using the controls on the left!</p>
                <div ng-repeat="elements in surveyElements">
                    <div ng-if="elements.type == 'text' ">
                        <br>
                        <p>{{elements.label}}</p>
                        <input class="form-control" type="elements.type">
                    </div>

                    <div ng-if="elements.type == 'textarea' ">
                        <br>
                        <p>{{elements.label}}</p>
                        <textarea class="form-control"></textarea>
                    </div>

                    <div ng-if="elements.type == 'radio' ">
                        <br>
                        <p>{{elements.label}}</p>
                        <div class="checkbox" ng-repeat="ele in elements.options.data">
                          <label>
                            <input type="radio" value="">
                            {{ele}}
                          </label>
                        </div>
                    </div>

                    <div ng-if="elements.type == 'checkbox' ">
                        <br>
                        <p>{{elements.label}}</p>
                        <div class="checkbox" ng-repeat="ele in elements.options.data">
                          <label>
                            <input type="checkbox" value="">
                            {{ele}}
                          </label>
                        </div>
                    </div>

                    <div ng-if="elements.type == 'select' ">
                        <br>
                        <p>{{elements.label}}</p>
                          <select class="form-control">
                              <option ng-repeat="ele in elements.options.data">{{ele}}</option>
                            </select>
                    </div>
                </div>
                <hr ng-if="surveyElements.length > 0">
                <br>

                <button ng-click="publishSurvey()" ng-if="surveyElements.length > 0" class="btn btn-primary pull-right">Publish Survey</button>
            </div>
        </div>
    </div>
</div>
