<div head></div>
<div navi></div>

<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <h3>Super Survey App</h3>
            <p class="lead">Create your own surveys and ask the world what they think about things that matter to you!</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h4>Browse our surveys</h4>
            <br>
        </div>
        <div ng-repeat="surveys in allSurveys">
            <div ng-if="$index % 3 == 0" class="clearfix"></div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div ng-click="visitSurveyPage(surveys._id)" class="caption">
                        <p>{{surveys.surveyName}}</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
