<!DOCTYPE html>
<head>
    <title>Survey App</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

    <link rel="stylesheet" href="/assets/libs/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/assets/css/custom.css" type="text/css" media="screen,projection" />
    <style type="text/css">body{margin:50px 0;padding:0}</style>
</head>
